{% extends "base.html" %}

{% block content %}

{% if posts == 0: %}
    <p style="text-align:center; font-size:20px;">No Blog Entries Yet.</p>
{% else %}
    <ul>
        {% for blog in blogs: %}
            <li>
                <h2><a href="/blog?id={{blog.id}}">{{blog.title}}</a></h2>
                <p>{{blog.body}}</p>
                <span>written by <a href="/blog?user={{blog.owner_id}}">{{blog.owner.username}}</a></span>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}